<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>My First App</h3>
      <hr />
      <p>Selected server name: {{ serverName }}</p>
      <input
        type="text"
        [(ngModel)]="serverName"
        placeholder="Write here your server"
      />
      <br />
      <button
        [ngStyle]="{ backgroundColor: getColor() }"
        class="btn btn-primary"
        [disabled]="serverNameIsEmpty()"
        (click)="resetServerName()"
      >
        Create Server
      </button>
      <p *ngIf="!buttonClicked && serverName === ''; else serverCreatingOne">
        No server created yet.
      </p>
      <ng-template #serverCreatingOne
        ><p *ngIf="!buttonClicked && serverName !== ''; else createdServer">
          Creating server.
        </p></ng-template
      >
      <ng-template #createdServer
        ><p *ngIf="serverName === ''; else serverCreatingTwo">
          Server created.
        </p></ng-template
      >
      <ng-template #serverCreatingTwo
        ><p>Creating another server.</p></ng-template
      >
      <app-server *ngFor="let server of servers"></app-server>
    </div>
  </div>
</div>
