<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>My First App</h3>
      <hr />
      <p>Selected Username: {{ userName }}</p>
      <input
        type="text"
        [(ngModel)]="userName"
        placeholder="Write here your User"
      />
      <br />
      <button
        [ngStyle]="{ backgroundColor: getColor() }"
        class="btn btn-primary"
        [disabled]="usernameIsEmpty()"
        (click)="resetUsername()"
      >
        Create Account
      </button>
      <p *ngIf="!buttonClicked && userName === ''; else accountCreatingOne">
        No account created yet.
      </p>
      <ng-template #accountCreatingOne
        ><p *ngIf="!buttonClicked && userName !== ''; else createdAccount">
          Creating account.
        </p></ng-template
      >
      <ng-template #createdAccount
        ><p *ngIf="userName === ''; else accountCreatingTwo">
          Account created.
        </p></ng-template
      >
      <ng-template #accountCreatingTwo
        ><p>Creating another account.</p></ng-template
      >
    </div>
  </div>
</div>
