<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>My First App</h3>
      <hr />
      <p>Your message: {{ textMessage }}</p>
      <input
        type="text"
        [(ngModel)]="textMessage"
        placeholder="Write some message here"
      />
      <br />
      <button
        [ngStyle]="{ backgroundColor: getColor() }"
        class="btn btn-primary"
        [disabled]="textMessageIsEmpty()"
        (click)="resetServerName()"
      >
        > Display details
      </button>
      <div *ngIf="display">
        <div *ngFor="let paragr of paragraphs">
          <p
            [ngClass]="{ last: paragr.index >= 5 }"
            [ngStyle]="{ backgroundColor: getBackgroundColor(paragr) }"
          >
            {{ paragr.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
